.container{
  padding-bottom: 30px;
}
.header{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 15px;
  .underline{
    width: 35px;
    height: 2.5px;
    background-color: #000;
  }
}
.title-container{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.title{
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 5px;
}
.item{
  padding: 5px 0px
}
.content{
  font-size: 14px;
  color: #333333;
  text-align: justify;
}