.blog-img {
    margin: 40px 0; 
}

.blog-img img {
    width: 100%;
    border-radius: 4px;
}

.blog-caption {
    margin-top: 16px;
    font-size: 12px;
    color: #828ba2;
    text-align: center;
}