.header{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  .right-header{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.logo{
  cursor: pointer;
  float: left;
  width: 120px;
  height: 31px;

}
.tlt-menu{
  font-size: 16px;
}
