.container {
  .cv-format {
    width: 210mm;
    height: 297mm;
  }
  // line-height: 1.4;
  transform: scale(0.5);
  background-color: white;
  margin-top: 0px;
  border-radius: 8px;
  overflow: hidden;
  
}
