.container {

 // width: 210mm;
    // min-height: 297mm;
    width: 793px;
    height: 1122px;

  
  // line-height: 1.4;
  // transform: scale(0.5);
  background-color: white;
  margin-top: 0px;
  border-radius: 8px;
  overflow: hidden;
  
}
