@import './../../../styles/variables.scss';
.editable-title{
    position: relative;
    min-width: 3em;
    min-height: 40px;
    .editable-title-input-div{
        visibility: hidden;
        background:none;
        padding: 4px 0px;
        font-weight: 600;
    }
   
} 
.editable-title-input{
        background:none;
        padding: 4px 0px;
        position: absolute;
        width: 100%;
        font-weight: 600;
    }
    .editable-title-icon{
        color: #848484;
        padding-right: 4px;
        &:hover{
            color: rgb(19, 95, 157);
        }
    }