@import '../../../../styles//variables.scss';

    .home-hero-container{
      padding-bottom: 0px;
    }
    .image{
      width: 770px;
      height: 300px;
      margin: 0 150px;
      background-color: #fff;
    }
    .button{
      height: 60px;
      font-size: 20px;
      font-weight: 600;
      padding-left: 25px;
      padding-right: 25px;
      border-radius: 8px;
      margin: 30px 0px
    }