@import '../../../../styles//variables.scss';
@import '../../../../styles/responsive.scss';


.home-card-container{
  background-color: $background-color;
  padding: 80px 50px;
  @include tablet{
    padding: 80px 20px;
  }
  .home-card-main{
    display: flex;
    // width: 770px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    .home-card-main__title{
      text-align: center;
      max-width: 770px;
      padding: 0px 50px;
    }
    .title{
      font-weight: 800;
    }
    .description{
      font-size: 19px;
      max-width: 600px;
    }
    
  }
}