@import '../../../../styles/variables.scss';

.header{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  
  .logo{
    cursor: pointer;
    float: left;
    width: 120px;
    background-image: url('../../../../public/assets/logo.png');
    height: 50px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    border-radius: 8px;
  }

  .right-header{
    cursor: pointer;
    &:hover {
      color: $hover-color;
    }
  }
}
