@import '../../../../../styles/variables.scss';

.button{
  font-weight: 600;
}
.text-button{
  color: $primary-color;
  &:hover{
    color: $hover-color;
    background-color: transparent;
  }
}

.logged-button__container{
  display: flex;
  flex-direction: row;
  align-items: center;
}