@import '../../../../../../styles/variables.scss';
.professional-summary-input{
    padding: 10px 11px;
}
.professional-summary-suggestion-item {
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

.professional-summary-suggestion-item:hover {
    background-color: $hover-color;
    color: white;
}

.professional-summary-suggestion-item:active {
    background-color: $active-color;
    color: white;
}