@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.container{
  // @include cv-format;
  background-color: #fff;
  color: #000;
  font-family: 'Source Sans Pro';
  padding: 40px;
  
  .masthead-avatar{
    display: grid; 
    grid-template-columns: 1fr 4fr;
    .avatar{
      padding-left: 15px;
      img{
        border-radius: 8px;
      }
    }
  }
  .masthead{
    
    div{
      .name{
      font-size: 50px;
      font-weight: 600;
      // padding: 3px 0px
      }
      .job{
        font-size: 25px;
        color: #333;
        background-color: #f5f5f5;
      }
    }
   
  }
  .side-bar{
    width: 30%;
  }
  .main{
    width: 70%;
    padding-right: 30px;
  }
}