@import '../../../../styles/variables.scss';


.change-avatar__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.change-avatar{
  color: $primary-color;
  padding: 10px;
  &:hover{
    cursor: pointer;
  }
}