@import '../../../../styles/responsive.scss';

.header{
  background-color: #000;
  height: 70px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  line-height: 70px;
  z-index: 99;
  div{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between
  }
}
.button{
  background-color: transparent;
  color: #fff;
  border: none;
  &:hover{
    background-color: rgba(15, 20, 30, 0.15);
  }
}

.container{
  height: 100vh;
  position: fixed;
  inset: 0px;
  z-index: 100;
}
.layout{
  background-color: #495163;
  height: 100%;
  // height: calc(100vh - 70px);
  
  .template-container{
    float: left;
    overflow: scroll;
    min-height: 100%;
    // background-color: #495163;
    width: 40%;
    // border-right: #fff 1px solid;
    // padding: 30px;
    // padding-top: 90px;
   
    
  }
  .template-list{
    // padding-top: 90px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    overflow-y: auto;
    @include mini-desktop{
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  .footer-template-list{
    // padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-columns: fit-content(100%);
    // grid-auto-flow: column;
    @include mobile{
      grid-template-columns: repeat(1, 1fr);
    }
    gap: 20px;
    overflow-y: auto;
    .item{
      width: 100%;
      // height: 100%;
      .thumbnail {
        // width: auto;
        // height: 100%;
      }
    }
  }
  .resume{
    float: right;
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding-bottom: 40px;
    .resume-change-index-button {
      display: flex;
      justify-content: center;
      padding-top: 20px;
    }
    .resume-preview{
      transform-origin: top center;
      display: flex;
      justify-content: center;
      padding-top: 20px;
      height: 1072px;
      overflow: hidden;

    }
   
  }
}
 .resume-option{
display: none;
  @include tablet{

    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 30%;
    background-color: #000;
    display: flex;
    flex-direction: row;
  }
    }

.select-template-footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  .select-template-footer__content{
    padding: 10px 15px;
    overflow-y: auto;
    width: 100%;

  }
  .select-template-footer__title{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #fff;
  }
}    
.item{
  cursor: pointer;
  .name{
    color: #fff;
    text-align: center;
    font-size: 16px;
  }
  .thumbnail{
    @include mobile{
      display: flex;
      justify-content: center;
    }
  }
}

.action-item{
  padding: 8px 0px;
}

.action-item-header{
  color: white;
  font-size: 28px;
  font-weight: 600;
}