.setting__container{
  padding: 50px 0px;
  width: 100vw;
  background-color:rgb(239, 242, 249);
}
.setting-title{
  font-size: 24px;
  font-weight: 600;
  padding-left: 20px;
}

.account__container{
  margin: 20px 0px;
}
.account-title{
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  padding: 10px 0px;
  padding-left: 20px;

}

.account-form__container{
  background-color: white;
  width: 100%;
  padding: 20px
}