@import '../../styles/responsive.scss';

.container {
    margin: 20px 0px;
    
}

.content {
    margin: 0 25% 0 20%;
    padding-left: 5%;
    background-color: #fff;
    @include tablet{
        margin: 0px;
        padding: 0 10%;
    }
    text-align: justify;
}
